* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #111;
    color: white;
}

.contenedor-header {
    position: fixed;
    width: 100%;
    background: #1e2326;
    z-index: 100;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo a {
    font-size: 32px;
    color: #1CB698;
    text-decoration: none;
}

/* PORTFOLIO */
.portfolio {
    padding: 120px 20px 50px;
    background: #111;
    margin-top: -5%;
}

.contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 50px;
}

.portfolio .subtitulo {
  color: #00bcd4;
  font-size: 14px;
  text-transform: uppercase;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.proyecto {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
    background: #111;
    cursor: pointer;
}

.proyecto img,
.proyecto video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}

.proyecto:hover img,
.proyecto:hover video {
    transform: scale(1.1);
}

/* MODAL */
.img-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    z-index: 9999;
}

.img-modal-contenido {
    display: block;
    margin: auto;
    max-width: 95vw;
    max-height: 90vh;
    object-fit: contain;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
}


/* INDEX  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1e2326;
    color: #fff;
}

.contenedor-header {
    position: fixed;
    width: 100%;
    background: #1e2326;
    z-index: 1000;
}

header {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.nav-responsive {
    display: none;
    cursor: pointer;
}

.inicio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inicio img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.contenido-seccion {
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    background: #2a2f33;
    padding: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.card:hover {
    background: #00bcd4;
}

.contacto iframe {
    width: 100%;
    height: 300px;
    border: none;
}

footer {
    background: #1e2326;;
    text-align: center;
    padding: 30px;
}

/* Experiencia secction */
.experiencia {
  background: #111;
}

.experiencia .subtitulo {
  color: #00bcd4;
  font-size: 14px;
  text-transform: uppercase;
}

.experiencia h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 50px;
}


.exp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.exp-card {
  background: #1e2326;
  border-radius: 15px;
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.exp-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 188, 212, 1);
}

.exp-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
}

.exp-card .empresa {
  display: block;
  font-size: 14px;
  color: #00bcd4;
}

.exp-card .fecha {
  display: block;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 15px;
}

.exp-card ul {
  padding-left: 18px;
}

.exp-card ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ccc;
}

/* SKILLS AND ABOUT ME SECTION */
/* ABOUT */
.about {
  background: #111;
  padding: 80px 0;
}
.sobremi .subtitulo {
  color: #00bcd4;
  font-size: 14px;
  text-transform: uppercase;
}

.sobremi h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 50px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  align-items: center;
}

.about-img img {
  width: 100%;
  max-width: 320px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.about-text h2 {
  color: #00bcd4;
  font-size: 34px;
  margin-bottom: 15px;
}

.about-text p {
  color: #b8b8d1;
  line-height: 1.7;
  font-size: 15px;
}

/* SKILLS */
.skills {
  background: #111;
  padding: 80px 0;
}

.skills .subtitulo {
  color: #00bcd4;
  font-size: 14px;
  text-transform: uppercase;
}

.skills h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 50px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.skill-card {
  background: #1e2326;
  padding: 30px;
  border-radius: 18px;
  transition: all 0.3s ease;
}

.skill-card i {
  font-size: 32px;
  color: #00bcd4;
  margin-bottom: 15px;
}

.skill-card h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
}

.skill-card p {
  color: #b8b8d1;
  font-size: 14px;
  line-height: 1.5;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 188, 212, 1);
}


.about-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-name {
  color: #fff;
  margin: 12px 0 10px;
}

.about-socials {
  display: flex;
  gap: 14px;
}

.about-socials a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #252945;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00bcd4;
  font-size: 18px;
  transition: all 0.3s ease;
}

.about-socials a:hover {
  background: #00bcd4;
  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 188, 212, 1);
}


/* footer diseños*/
.footer {
  background: #1e2326;
  padding: 40px 0 30px;
  text-align: center;
  margin-top: 80px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 18px;
}

.footer-socials a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #252945;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00bcd4;
  font-size: 20px;
  transition: all 0.3s ease;
}

.footer-socials a:hover {
  background: #00bcd4;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 188, 212, 0.45);
}

.footer-copy {
  color: #b8b8d1;
  font-size: 13px;
  margin-top: 10px;
}
